<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script>
	function logout(){
		fetch('/test/04',{
			method:'POST',
			headers:{'Content-Type':'application/json'}
			})
			.then(response => {
				window.location.href = '/';
			});
	}
	
	function checkLogin(){
		fetch('/test/03',{
			method:'POST',
			headers:{'Content-Type':'application/json'},
			
			})
			.then(response => {
				if(!response.ok){
					throw new Error('error');
				}
				return response.json();
			})
			.then(data => {
				console.log(data);
				if(data.code == 0){
					document.getElementById('username').innerHTML = data.myTest.name;
				}else{
					console.log('xxx');
				}
			})
			.catch(error => {
				console.log('err:',error);
			});
	}
	checkLogin();
</script>
<div th:include="header"></div>

	Main Page
	<hr>
	<div>Welcome , <span id='username'></span> </div>
	<hr>
	<button onclick='logout()'>Logout</button>
	
<div th:include="footer"></div>